$color: #409EFF;


.bgStyle {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 #d9d9d9;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 10;
}